@font-face {
   font-family: 'Pixel Azure Bonds';
   src: url('pixel.otf');
}

.pane-background {
    -fx-background-color: rgb(10, 20, 10);

}

.canvas-border{
    -fx-background-color: rgb(0, 240, 0);
        -fx-border-width: 2px;
        -fx-border-color: rgb(0,0,0);
}

.dialog-box{
    -fx-background-color: rgba(10,10,10,0.9);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.dialog-choice{
    -fx-text-fill:rgb(240,100,100);
    -fx-font-family:'Pixel Azure Bonds';
}

.dialog-choice-selected{
   -fx-text-fill:rgb(240,240,240);
}

.dialog-title{
    -fx-text-fill:rgb(240,200,200);
    -fx-font-family:'Pixel Azure Bonds';
}